@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #333041;
}

.card{
    background-color: #333041;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 

}


.grid{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 600px 600px;
    align-items: center;
    height: 35rem;
    justify-items: end;
}


.error{
    z-index: 1;
    position: relative;
    margin-right: 60%;
}

.error span{
    font-size: 90px;
    color: #ecbf29;
    font-weight: 900;
    white-space: pre-line;
    line-height: 1;
    letter-spacing: 3px;
    text-shadow: 1px 7px 1px #fff;
}
.img{width: 800px;}
.img img{
    width: 100%;
}
